@import url('https://fonts.googleapis.com/css?family=Roboto');



body {
    font-family: 'Roboto', sans-serif;
    background: #DEDEDE;

}

* {
    box-sizing: border-box;
}



.pokedex {
    background: #DD1638;
    width: 25em;
    height: 33em;
    margin: 50px auto;
    border-radius: 25px;
    display: block;

}

h1 {
    display: block;
    margin: 25px 0;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}

.poke-img {
    display: block;
    border: 1em solid #ccc;
    height: 10em;
    width: 8em;
    border-radius: 25px;
    background: white;
    margin: 0 auto;
}

img {
    width: 9.4em;
}

h3 {
    display: block;
    margin: 25px 0;
    text-align: center;
    font-size: 2em;


}

form {
    text-align: center;
}



input {
    display: block;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #DEDEDE;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    margin: 25px auto;


}

.btn {
    display: inline-block;
    padding: 16px;
    color: white;
    background: #26A4F2;
    cursor: pointer;


}
